<body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>

  <h1>About</h1>

  <p>This is the about page.</p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, eaque
    ipsum fuga repudiandae alias aliquam ipsa ex, debitis sit quia facilis
    voluptas id rem saepe provident magni molestias quaerat accusantium.
  </p>

</body>
