<a href="/">Home</a>
<a href="/about">About</a>
<a href="/blog">Blog</a>


<h1>Blog</h1>

<p>This is the blog page.</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed natus aut sit, quos veniam fuga quaerat modi voluptatibus quia eveniet fugiat magnam repellat praesentium quidem mollitia qui, voluptatem deserunt cumque.</p>